html{
    scroll-behavior: smooth;
}
nav{
    background-color: #004d80;
}
.full-footer{
    position: relative;
    bottom: 0;
    width: 100%;
}
.home-content{
    font-size: 20px;
    color: white;
}
.col1{
    height: 10%;
}
.about-content{
    color: white;
}
.contactme{
    color: white;
}